/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

nav {
  background-color: #003366;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

main {
  max-width: 800px;
  margin: 1rem auto;
}

/* IMAGEN DE PERFIL FLOTADA */
main img {
  float: right;
  margin-left: 1rem;
}

/* Evita que la lista se meta junto a la imagen */
ul {
  clear: both;
}

/* ========================= */
/* Class Selectors */
/* ========================= */

.box {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  background-color: #ddd;
  color: #000;
}
