body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: steelblue;
  padding: 1rem;
}

/* NAV */
nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

/* MAIN */
main {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: steelblue;
}

/* IMAGEN PRINCIPAL */
main img {
  width: 150px;
  height: auto;
  border: 1px solid #333;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ASIDE */
aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

/* TEXTO */
p {
  padding: 0;
}

/* FOOTER */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
